{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans "Meu perfil" %}{% endblock title %}

{% block content %}

    <div class="container">
        <h3>{% trans "Meu perfil" %}</h3>

        <p><strong>{% trans "Dados de usuário:" %}</strong></p>
        <ul>
            <li>Primeiro nome: {{ user.first_name|default:"Não informado" }}</li>
            <li>Último nome: {{ user.last_name|default:"Não informado" }}</li>
            <li>E-mail: {{ user.email|default:"Não informado" }}</li>
        </ul>

        <a href="{% url 'password_change' %}">{% trans "Alterar senha" %}</a>
    </div>

{% endblock content %}